<div class="file-time">{{time}}</div>
<div class="file-issuer">{{issuer}}</div>
<a class="file-link" href="{{url}}" target='_blank' download='{{name}}'>Download</a>
<div class="file-name">{{name}}</div>
<div class="file-size">{{size}}</div>

<div class="clear"></div>